body {
  display: flex;
  flex-direction: column;

}
.header {
  display: flex;
  background-color: #1f2937;
  font-size: 24px;
  color: #f9faf8;
  justify-content: space-around; 
  padding-top: 10px;
  align-items: center;
  
}
ul   {
  display: flex;
  gap: 10px;
  flex-direction: row;
  list-style-type: none;
  text-decoration: none !important;
}
a {
  font-size: 18px;
  color: inherit;
  text-decoration: none !important;
}
.sign-up1 {
  background-color: #3882f6;

}

.lead {
  display: flex;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  background-color: #1f2937;
  flex-direction: column;
}
.subheader {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  justify-content:space-between;
}

img {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 150px;
  }
.jogger {
    width:400px;
    height:250px;
}